/* Lavados recomendados */
.h2-lavados {
    text-align: left;
    font-family:'Bebas Neue', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.li-lavados {
    margin-top: 20px;
    margin-left: 30px;
}
.p-lavados {
    margin-top: 20px;
    margin-left: 30px;
}
.span-lavados {
    font-weight: bold;
    color: red;
}