/* Preguntas frecuentes */
.h2-preguntas-frecuentes {
    text-align: left;
    font-family: font-family 'Bebas Neue', sans-serif;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 30px;
}
.h3-preguntas-frecuentes {
    margin-top: 20px;
    margin-left: 30px;
    width: 550px;
    background-color: rgb(130, 224, 170)
}
.li-pregutas-pago {
    margin-top: 20px;
    margin-left: 30px;
}
.p-preguntas-frecuentes {
    margin-top: 20px;
    margin-left: 30px;
}
