.h2-sobre-nosotros {
    text-align: center;
    margin-top: 20px;
    font-family: font-family 'Bebas Neue', sans-serif;
    font-size: 30px;
}
.p-sobre-nosotros {
    text-align: center;
    margin-top: 50px;
    font-family: font-family 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 20px;
}
.div1-sobre-nosotros {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10px;
}
.imagen1-sobre-nosotros {
    width: 500px;
    margin-top: 10px;
    margin-left: 10px;
    border: #40cf7c7e solid;
}
.imagen2-sobre-nosotros {
    width: 540px;
    margin-top: 10px;
    margin-left: 10px;
    border: #40cf7c7e solid;
}
.imagen3-sobre-nosotros {
    width: 600px;
    margin-top: 10px;
    margin-left: 10px;
    border: #40cf7c7e solid;
}