.boton-camisetas {
@include boton-base(green);
font-size: medium;
}
/* Filtros para ordenar */
.section-1 {
    position: relative;
}
/* CAMISETAS, PRECIO, COMPRAR */
.section-camisetas {
    text-align: center;
}
.div-camisetas {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 20px;
margin-bottom: 20px;
}
.div-camisetas article {
width: 250px;
background-color: rgb(213, 245, 227);
padding: 10px;
box-sizing: border-box;
border: #40cf7c7e solid;
margin: 10px;
text-align: center;
border-radius: 10px;
}
.boton-camisetas {
    background-color: green;
    padding: 5px;
    color: white;
    border-radius: 5px;
    font-size: medium;
}
/* Camisetas */
.batistuta {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.messi-2015 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.zidane-2006 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.riquelme-2007 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.neymar-2011 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.redondo-1998 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.torres-2008 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.ronaldo-1998 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.ronaldinho-2009 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.maradona-1986 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.ronaldo-2002 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.messi-2006 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.francescoli-1996 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.cr7-2008 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
.cr7-2006 {
    height: auto;
    width: 200px;
    border-radius: 10px;
}
/* Paso de pagina */
.div-pagina {
    text-align: center;
}
.paso-de-pagina {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px
}
/*Redes sociales */
.redes-sociales {
    margin-top: 30px;
    background-color: rgba(77, 211, 117, 0.452);
    padding: 40px;
    text-align: center;
}
.instagram {
    width: 40px;
    margin: 0 10px;
}
.facebook {
    width: 40px;
    margin: 0 10px;
}
.twitter {
    width: 40px;
    margin: 0 10px;
}
.a-redes {
    text-decoration: none;
}